Repository kaibyao/fbkl-rust: changes, and which lefthook commands are due for each by the changed paths.
All: clippy, format, lint_webapp_logged_in, lint_webapp_public, typecheck_webapp_logged_in, typecheck_webapp_public

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    clippy:
      glob: '*.rs'
      run: cargo clippy && git add {staged_files}
    format:
      glob: '*.rs'
      run: cargo fmt && git add {staged_files}
    lint_webapp_logged_in:
      glob: 'webapp-logged-in/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-logged-in" lint --cache && git add {staged_files}'
    lint_webapp_public:
      glob: 'webapp-public/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-public" lint --cache && git add {staged_files}'
    typecheck_webapp_logged_in:
      glob: 'webapp-logged-in/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-logged-in" exec tsc && git add {staged_files}'
    typecheck_webapp_public:
      glob: 'webapp-public/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-public" exec tsc && git add {staged_files}'
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

feat(infra): add Lambda + EventBridge Scheduler config
  .beads/issues.jsonl
  CLAUDE.md
  infra/README.md
  infra/eventbridge.tf
  infra/github_oidc.tf
  infra/lambdas.tf
  infra/variables.tf
Due: none

feat(infra): provision Neon Postgres + manage app secrets in-config
  .beads/issues.jsonl
  infra/.terraform.lock.hcl
  infra/README.md
  infra/lambdas.tf
  infra/neon.tf
  infra/providers.tf
  infra/secrets.tf
  infra/variables.tf
Due: none

chore(infra): default app_origin to a placeholder for partial applies
  infra/variables.tf
Due: none

fix(infra): cap Neon history retention to free-tier max (6h)
  infra/.gitignore
  infra/neon.tf
  infra/secrets.env.example
Due: none

feat(server): add migrate_sessions bin for serverless tower_sessions setup
  .beads/issues.jsonl
  infra/README.md
  server/src/bin/migrate_sessions.rs
Due: clippy, format

feat(infra): add Cloudflare Pages projects + wire SPA origin into CORS
  .beads/issues.jsonl
  infra/.terraform.lock.hcl
  infra/README.md
  infra/cloudflare.tf
  infra/lambdas.tf
  infra/providers.tf
  infra/secrets.env.example
  infra/variables.tf
Due: none

fix(infra): drop OPTIONS from Function URL CORS allow_methods
  infra/lambdas.tf
Due: none

docs: one-line comments rule + collapse Function URL CORS comment
  CLAUDE.md
  infra/lambdas.tf
Due: none

docs: scope comment rule to inline; keep detailed file headers
  CLAUDE.md
Due: none

fix(infra): grant public invoke on API Function URL
  infra/lambdas.tf
Due: none

fix(infra): add InvokeFunction permission for NONE Function URL
  infra/lambdas.tf
Due: none

fix(infra): use unconditioned InvokeFunction grant (provider v5 compat)
  infra/lambdas.tf
Due: none

feat(infra): CloudWatch error/throttle alarms + SNS email alerts
  .beads/issues.jsonl
  infra/README.md
  infra/observability.tf
  infra/variables.tf
Due: none

feat: same-origin API via Cloudflare Pages reverse proxy
  .beads/issues.jsonl
  infra/cloudflare.tf
  infra/lambdas.tf
  webapp-logged-in/functions/api/[[path]].ts
  webapp-logged-in/src/components/AppProviders.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

feat(ci): GitHub Actions CD to Lambda + Cloudflare Pages (96e.10)
  .beads/issues.jsonl
  .github/workflows/deploy.yml
  infra/README.md
Due: none

use personal, not work email
  infra/variables.tf
Due: none

chore(beads): close epic fbkl-rust-96e + all children (serverless deploy live)
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

chore(beads): file Sentry observability follow-up (fbkl-rust-lmu)
  .beads/issues.jsonl
Due: none

fbkl-app -> fbkl
  .github/workflows/deploy.yml
  infra/cloudflare.tf
  package.json
Due: none

updated logic/constants for EoSY 2026
  .gitignore
  constants/src/date/all_star_break_dates.rs
  entity/src/entities/deadline.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
Due: clippy, format

add job success transaction to imports
  entity/src/queries/job_run_queries.rs
  server/src/main.rs
  transaction-processor/src/lib.rs
Due: clippy, format

fix import bug
  .beads/issues.jsonl
  entity/src/queries/job_run_queries.rs
  jobs/src/lib.rs
  lambdas/src/bin/scheduler.rs
  server/src/lib.rs
Due: clippy, format

converted deadlines to use a vec instead of datetime hashmap to avoid collisions/deadlines overriding when they were on the same datetime
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/deadline.rs
  entity/src/queries/deadline_queries.rs
  entity/src/queries/job_run_queries.rs
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
Due: clippy, format

working webapp-based login
  server/src/handlers/login_handlers.rs
  server/src/server.rs
  webapp-logged-in/src/lib/api.ts
  webapp-logged-in/src/lib/auth.ts
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

update pnpm version
  package.json
Due: none

feat(webapp): add primary-hot + success design tokens
  webapp-logged-in/src/global.css
Due: none

feat(webapp): migrate UI from MUI to shadcn + restyle
  pnpm-lock.yaml
  webapp-logged-in/index.html
  webapp-logged-in/package.json
  webapp-logged-in/src/components/AppProviders.tsx
  webapp-logged-in/src/components/LoginForm.tsx
  webapp-logged-in/src/components/league/LeagueHeader.tsx
  webapp-logged-in/src/components/league/LeagueMenu.tsx
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueRostersList.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/components/leagues/LeagueListItem.tsx
  webapp-logged-in/src/components/ui/avatar.tsx
  webapp-logged-in/src/components/ui/badge.tsx
  webapp-logged-in/src/components/ui/button.tsx
  webapp-logged-in/src/components/ui/card.tsx
  webapp-logged-in/src/components/ui/input.tsx
  webapp-logged-in/src/components/ui/label.tsx
  webapp-logged-in/src/components/ui/separator.tsx
  webapp-logged-in/src/components/ui/sheet.tsx
  webapp-logged-in/src/components/ui/sidebar.tsx
  webapp-logged-in/src/components/ui/skeleton.tsx
  webapp-logged-in/src/components/ui/tooltip.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/hooks/use-mobile.ts
  webapp-logged-in/src/main.tsx
  webapp-logged-in/src/routes/_auth/league.tsx
  webapp-logged-in/src/routes/_auth/leagues/create.tsx
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
  webapp-logged-in/src/routes/login.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

docs(design): mark primary-hot + success tokens as shipped in mood board
  webapp-logged-in/design/moodboard.html
Due: none

refactor(webapp): port shadcn components to semantic classnames via @apply
  webapp-logged-in/src/components/ui/avatar.tsx
  webapp-logged-in/src/components/ui/badge.tsx
  webapp-logged-in/src/components/ui/button.tsx
  webapp-logged-in/src/components/ui/card.tsx
  webapp-logged-in/src/components/ui/input.tsx
  webapp-logged-in/src/components/ui/label.tsx
  webapp-logged-in/src/components/ui/separator.tsx
  webapp-logged-in/src/components/ui/sheet.tsx
  webapp-logged-in/src/components/ui/sidebar.tsx
  webapp-logged-in/src/components/ui/skeleton.tsx
  webapp-logged-in/src/components/ui/tooltip.tsx
  webapp-logged-in/src/global.css
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

bd: update sync.remote
  .beads/config.yaml
Due: none

chore(beads): export closed fbkl-rust-dv9 to issues.jsonl
  .beads/issues.jsonl
Due: none

chore(beads): file fbkl-rust-15f (self-host login hero image)
  .beads/issues.jsonl
Due: none

feat(webapp): add Typography and Stack layout primitives
  webapp-logged-in/src/components/LoginForm.tsx
  webapp-logged-in/src/components/league/LeagueHeader.tsx
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/components/leagues/LeagueListItem.tsx
  webapp-logged-in/src/components/ui/stack.tsx
  webapp-logged-in/src/components/ui/typography.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/routes/_auth/leagues/create.tsx
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
  webapp-logged-in/src/routes/login.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

config + beads tasks update
  .beads/interactions.jsonl
  .node-version
  .vscode/settings.json
Due: none

Migrate webapp to shadcn + port components to semantic classnames (#59)
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .node-version
  .vscode/settings.json
  pnpm-lock.yaml
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/index.html
  webapp-logged-in/package.json
  webapp-logged-in/src/components/AppProviders.tsx
  webapp-logged-in/src/components/LoginForm.tsx
  webapp-logged-in/src/components/league/LeagueHeader.tsx
  webapp-logged-in/src/components/league/LeagueMenu.tsx
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueRostersList.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/components/leagues/LeagueListItem.tsx
  webapp-logged-in/src/components/ui/avatar.tsx
  webapp-logged-in/src/components/ui/badge.tsx
  webapp-logged-in/src/components/ui/button.tsx
  webapp-logged-in/src/components/ui/card.tsx
  webapp-logged-in/src/components/ui/input.tsx
  webapp-logged-in/src/components/ui/label.tsx
  webapp-logged-in/src/components/ui/separator.tsx
  webapp-logged-in/src/components/ui/sheet.tsx
  webapp-logged-in/src/components/ui/sidebar.tsx
  webapp-logged-in/src/components/ui/skeleton.tsx
  webapp-logged-in/src/components/ui/stack.tsx
  webapp-logged-in/src/components/ui/tooltip.tsx
  webapp-logged-in/src/components/ui/typography.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/hooks/use-mobile.ts
  webapp-logged-in/src/main.tsx
  webapp-logged-in/src/routes/_auth/league.tsx
  webapp-logged-in/src/routes/_auth/leagues/create.tsx
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
  webapp-logged-in/src/routes/login.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fixed webapp build needing graphql codegen first
  webapp-logged-in/package.json
Due: none

fixed webapp build needing graphql codegen first (#60)
  webapp-logged-in/package.json
Due: none

build server graphql file before webapp
  .github/workflows/deploy.yml
Due: none

Fix webapp build (#61)
  .github/workflows/deploy.yml
Due: none

update checkout action to v7
  .github/workflows/deploy.yml
Due: none
