Repository kaibyao/fbkl-rust: changes, and which lefthook commands are due for each by the changed paths.
All: clippy, format, lint_webapp_logged_in, lint_webapp_public, typecheck_webapp_logged_in, typecheck_webapp_public

clippy:
  run: cargo clippy && git add {staged_files}

format:
  run: cargo fmt && git add {staged_files}

lint_webapp_logged_in:
  run: pnpm --filter "@fbkl/webapp-logged-in" lint --cache && git add {staged_files}

lint_webapp_public:
  run: pnpm --filter "@fbkl/webapp-public" lint --cache && git add {staged_files}

typecheck_webapp_logged_in:
  run: pnpm --filter "@fbkl/webapp-logged-in" exec tsc && git add {staged_files}

typecheck_webapp_public:
  run: pnpm --filter "@fbkl/webapp-public" exec tsc && git add {staged_files}

update paths-filter
  .github/workflows/deploy.yml
Due: none

fixed undefined error on get leagues query
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fixed post-season salary cap showing max-i16 value
  entity/src/entities/deadline.rs
  logic/src/roster/salary_calculation.rs
Due: clippy, format

Fix leagues query (#62)
  entity/src/entities/deadline.rs
  logic/src/roster/salary_calculation.rs
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

update pnpm
  package.json
Due: none

update location of graphql generation in deploy config
  .github/workflows/deploy.yml
Due: none

update node version
  .github/workflows/deploy.yml
Due: none

update location of graphql generation in deploy config (#68)
  .github/workflows/deploy.yml
Due: none

fix graphql generation script with -p
  .github/workflows/deploy.yml
Due: none

regenereated lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  webapp-logged-in/pnpm-lock.yaml
  webapp-public/pnpm-lock.yaml
Due: none

removed import-data as a cargo workspace member
  .github/workflows/deploy.yml
  Cargo.lock
  Cargo.toml
Due: none

ci: add PR checks for Rust + frontend with caching
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
Due: none

ci: add PR checks for Rust + frontend with caching (#69)
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
Due: none

ci: replace moonrepo/setup-rust with dtolnay + Swatinem cache
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

generate graphql schema in same folder regardless of where it's run from
  .github/workflows/deploy.yml
  graphql-generation/src/main.rs
Due: clippy, format

fmt
  jobs/src/lib.rs
Due: clippy, format

fixed pnpm scripts
  .github/workflows/ci.yml
  webapp-logged-in/package.json
Due: none

fix clippy warnings
  entity/src/entities/contract/contract_entity.rs
  entity/src/queries/team_update_queries/mod.rs
Due: clippy, format

more clippy warnings
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/trade/process_trade.rs
  logic/src/trade/validate_trade_assets.rs
Due: clippy, format

more sort_by_key
  entity/src/entities/trade.rs
Due: clippy, format

last clippy warning
  logic/src/trade/process_trade_assets.rs
Due: clippy, format

migrated postgres db hosting from neon.tech to supabase
  .github/workflows/deploy.yml
  CLAUDE.md
  infra/README.md
  infra/lambdas.tf
  infra/neon.tf
  infra/providers.tf
  infra/secrets.env.example
  infra/variables.tf
  lambdas/src/lib.rs
  server/src/bin/migrate_sessions.rs
  server/src/lib.rs
Due: clippy, format

migrated postgres db hosting from neon.tech to supabase (#70)
  .github/workflows/deploy.yml
  CLAUDE.md
  infra/README.md
  infra/lambdas.tf
  infra/neon.tf
  infra/providers.tf
  infra/secrets.env.example
  infra/variables.tf
  lambdas/src/lib.rs
  server/src/bin/migrate_sessions.rs
  server/src/lib.rs
Due: clippy, format

share rust cache keys
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

updated docs
  infra/cloudflare.tf
  infra/secrets.env.example
Due: none

added manual deploy option
  .github/workflows/deploy.yml
Due: none

fix gql/urql defaulting to GET
  webapp-logged-in/src/components/AppProviders.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fix(entity): add max-discount caps to UFA re-sign math
  entity/src/entities/contract/free_agent_extension.rs
Due: clippy, format

chore(beads): close fbkl-rust-4h2 + fbkl-rust-7eb, file fbkl-rust-bei
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

fix(entity): add max-discount caps to UFA re-sign math (#71)
  entity/src/entities/contract/free_agent_extension.rs
Due: clippy, format

fix: Phase 1 idiomatic-Rust audit — real crash/data-loss bugs (fbkl-rust-0kb.1)
  .beads/interactions.jsonl
  entity/src/entities/contract/annual_contract_advancement.rs
  entity/src/entities/draft_pick_option.rs
  entity/src/entities/trade.rs
  logic/src/annual_contract_advancement/create_team_contracts_for_annual_advancement.rs
  logic/src/auction/fa_auction.rs
  logic/src/auction/preseason_veteran_auction.rs
  logic/src/auction/sign_auction_contract_to_team.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  migration/src/m20220930_011056_seed_positions.rs
  migration/src/m20221112_151717_create_trade_tables.rs
  notes/idiomatic-rust-audit.md
Due: clippy, format

chore(beads): export issues.jsonl (close fbkl-rust-0kb.1, add .6)
  .beads/issues.jsonl
Due: none

fix: Phase 1 idiomatic-Rust audit — real crash/data-loss bugs (fbkl-rust-0kb.1) (#77)
  .beads/interactions.jsonl
  .beads/issues.jsonl
  entity/src/entities/contract/annual_contract_advancement.rs
  entity/src/entities/draft_pick_option.rs
  entity/src/entities/trade.rs
  logic/src/annual_contract_advancement/create_team_contracts_for_annual_advancement.rs
  logic/src/auction/fa_auction.rs
  logic/src/auction/preseason_veteran_auction.rs
  logic/src/auction/sign_auction_contract_to_team.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  migration/src/m20220930_011056_seed_positions.rs
  migration/src/m20221112_151717_create_trade_tables.rs
  notes/idiomatic-rust-audit.md
Due: clippy, format

fix: Phase 2 — stop DbErr/Report leaking to GraphQL clients (fbkl-rust-0kb.2)
  server/src/error.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/league/league_resolvers.rs
  server/src/graphql/league/league_types.rs
  server/src/graphql/player/player_types.rs
  server/src/graphql/team/team_types.rs
  server/src/handlers/graphql_handlers.rs
  server/src/handlers/login_handlers.rs
  server/src/session.rs
Due: clippy, format

chore(beads): close fbkl-rust-0kb.2 (Phase 2 DbErr redaction)
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

chore(beads): note Phase 2 DbErr-logging followup on fbkl-rust-0kb.3
  .beads/issues.jsonl
Due: none

fix: Phase 2 — stop DbErr/Report leaking to GraphQL clients (fbkl-rust-0kb.2) (#78)
  .beads/interactions.jsonl
  .beads/issues.jsonl
  server/src/error.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/league/league_resolvers.rs
  server/src/graphql/league/league_types.rs
  server/src/graphql/player/player_types.rs
  server/src/graphql/team/team_types.rs
  server/src/handlers/graphql_handlers.rs
  server/src/handlers/login_handlers.rs
  server/src/session.rs
Due: clippy, format

updated pnpm & import-data
  package.json
Due: none

Path conditions:
  clippy: any of: *.rs
  format: any of: *.rs
  lint_webapp_logged_in: any of: webapp-logged-in/**/*.{js,jsx,ts,tsx}
  lint_webapp_public: any of: webapp-public/**/*.{js,jsx,ts,tsx}
  typecheck_webapp_logged_in: any of: webapp-logged-in/**/*.{js,jsx,ts,tsx}
  typecheck_webapp_public: any of: webapp-public/**/*.{js,jsx,ts,tsx}
