Repository kaibyao/fbkl-rust: changes, and which lefthook commands are due for each by the changed paths.
All: clippy, format, lint_webapp_logged_in, lint_webapp_public, typecheck_webapp_logged_in, typecheck_webapp_public

clippy:
  run: cargo clippy && git add {staged_files}

format:
  run: cargo fmt && git add {staged_files}

lint_webapp_logged_in:
  run: pnpm --filter "@fbkl/webapp-logged-in" lint --cache && git add {staged_files}

lint_webapp_public:
  run: pnpm --filter "@fbkl/webapp-public" lint --cache && git add {staged_files}

typecheck_webapp_logged_in:
  run: pnpm --filter "@fbkl/webapp-logged-in" exec tsc && git add {staged_files}

typecheck_webapp_public:
  run: pnpm --filter "@fbkl/webapp-public" exec tsc && git add {staged_files}

cron job
  jobs/Cargo.toml
  jobs/src/deadline_processor.rs
  jobs/src/lib.rs
  notes/2025-06-30-deadline_configuration/2025-06-30-deadline_configuration.md
  notes/2025-06-30-deadline_configuration/prd-deadline-configuration.md
  notes/2025-06-30-deadline_configuration/tasks-prd-deadline-configuration.md
Due: clippy, format

cron + graphql triggers
  notes/2025-06-30-deadline_configuration/tasks-prd-deadline-configuration.md
  server/Cargo.toml
  server/src/graphql/deadline_config/resolvers.rs
  server/src/graphql/deadline_config/types.rs
Due: clippy, format

basic front-end
  logic/src/deadline_processing/mod.rs
  logic/src/deadline_processing/processor.rs
  notes/2025-06-30-deadline_configuration/tasks-prd-deadline-configuration.md
  server/src/graphql/deadline_config/resolvers.rs
  webapp-logged-in/app/(authenticated)/league/_components/DeadlineConfigForm.tsx
  webapp-logged-in/app/(authenticated)/league/_components/DeadlineStatusDisplay.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueMenu.tsx
  webapp-logged-in/app/(authenticated)/league/_graphql/deadline-config.graphql
  webapp-logged-in/app/(authenticated)/league/deadline-config/page.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

chore: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .claude/settings.json
  AGENTS.md
Due: none

docs: consolidate project docs into CLAUDE.md, drop stale .serena
  .gitignore
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/project_purpose.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/memories/tech_stack.md
  .serena/project.yml
  CLAUDE.md
Due: none

docs: add implemented-feature inventory and logic/ rules-engine guide
  .beads/issues.jsonl
  logic/CLAUDE.md
  notes/IMPLEMENTED.md
Due: none

updating repo state. added latest fbkl rules doc
  .beads/interactions.jsonl
  notes/2025-08-31-rules_document.md
Due: none

docs: add rules-doc implementation findings + per-gap specs
  .beads/issues.jsonl
  notes/IMPLEMENTATION_FINDINGS.md
  notes/implementation-specs/01-live-auction-engine.md
  notes/implementation-specs/02-rookie-draft-engine.md
  notes/implementation-specs/03-rfa-resolution-and-compensation.md
  notes/implementation-specs/04-ufa-rfa-discount-caps.md
  notes/implementation-specs/05-deadline-scheduler-and-transaction-processor.md
  notes/implementation-specs/06-graphql-api-surface.md
  notes/implementation-specs/07-trade-legality-deadline-picks.md
  notes/implementation-specs/08-weekly-moves-and-roster-legalization.md
  notes/implementation-specs/09-drop-rules-edge-cases.md
  notes/implementation-specs/10-eligibility-and-player-pool.md
  notes/implementation-specs/11-replacement-owners.md
  notes/implementation-specs/12-out-of-scope-and-external.md
Due: none

update beads logs
  .beads/hooks/pre-commit
  .beads/hooks/pre-commit.old
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .perles/config.yaml
Due: none

bd init: initialize beads issue tracking
  .beads/hooks/pre-commit
  .beads/hooks/prepare-commit-msg
  .beads/issues.jsonl
Due: none

updated beads config to server mode
  .beads/config.yaml
  .beads/metadata.json
  backup.jsonl
Due: none

chore(deps): upgrade sea-orm 0.12→1.1, axum 0.7→0.8, tower-sessions stack
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .gitignore
  Cargo.lock
  entity/Cargo.toml
  entity/src/entities/auction.rs
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/deadline.rs
  entity/src/entities/draft_pick_option.rs
  entity/src/entities/player.rs
  entity/src/entities/rookie_draft_selection.rs
  entity/src/entities/team_update.rs
  entity/src/entities/team_user.rs
  entity/src/entities/trade.rs
  entity/src/entities/trade_action.rs
  entity/src/entities/trade_asset.rs
  entity/src/entities/transaction/transaction_entity.rs
  entity/src/entities/user.rs
  entity/src/entities/user_registration.rs
  graphql-generation/Cargo.toml
  migration/Cargo.toml
  migration/src/m20220930_011056_seed_positions.rs
  server/Cargo.toml
Due: clippy, format

update to 2024 edition rust
  CLAUDE.md
  auth/Cargo.toml
  constants/Cargo.toml
  entity/Cargo.toml
  graphql-generation/Cargo.toml
  jobs/Cargo.toml
  logic/Cargo.toml
  migration/Cargo.toml
  rustfmt.toml
  server/Cargo.toml
  server/src/main.rs
  transaction-processor/Cargo.toml
Due: clippy, format

updated dependencies
  Cargo.lock
Due: none

chore(deps): update node deps to latest (hold MUI at v7)
  .beads/issues.jsonl
  package.json
  pnpm-lock.yaml
  tsconfig.json
  webapp-logged-in/package.json
  webapp-public/package.json
  webapp-public/src/main.tsx
  webapp-public/src/vite-env.d.ts
  webapp-public/tsconfig.json
Due: lint_webapp_public, typecheck_webapp_public

build: replace eslint + prettier with oxlint + oxfmt
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  webapp-logged-in/eslint.config.js
  webapp-public/eslint.config.js
Due: none

chore: track frontend modernization issues (beads)
  .beads/hooks/pre-commit
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

refactor(webapp-logged-in): use enum variants over string literals
  webapp-logged-in/graphql-codegen.ts
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/lib/contract.utils.ts
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

chore(beads): file NBA schedule importer issue (fbkl-rust-1hx)
  .beads/issues.jsonl
Due: none

using shadcn
  .beads/issues.jsonl
  webapp-logged-in/components.json
  webapp-logged-in/package.json
  webapp-logged-in/src/global.css
  webapp-logged-in/src/lib/utils.ts
  webapp-logged-in/vite.config.ts
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

feat: deadline scheduler + transaction processor (spec 05)
  Cargo.lock
  entity/src/entities/deadline.rs
  entity/src/entities/job_run.rs
  entity/src/entities/mod.rs
  entity/src/queries/deadline_queries.rs
  entity/src/queries/job_run_queries.rs
  entity/src/queries/mod.rs
  jobs/Cargo.toml
  jobs/src/lib.rs
  logic/CLAUDE.md
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/roster/salary_calculation.rs
  logic/src/trade/create_trade_team_update.rs
  migration/src/lib.rs
  migration/src/m20260609_000001_create_job_run.rs
  notes/IMPLEMENTED.md
  server/Cargo.toml
  server/src/main.rs
  transaction-processor/Cargo.toml
  transaction-processor/README.md
  transaction-processor/src/lib.rs
Due: clippy, format

chore(beads): close fbkl-rust-dxo
  .beads/issues.jsonl
Due: none

updated packages + CLAUDE.md
  .beads/interactions.jsonl
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(webapp-logged-in): generate route tree before tsc in build
  webapp-logged-in/package.json
Due: none

fix(server): derive 64-byte session key via SHA-512
  Cargo.lock
  server/Cargo.toml
  server/src/main.rs
Due: clippy, format

fix(server): derive 64-byte session key via SHA-512 (#53)
  Cargo.lock
  server/Cargo.toml
  server/src/main.rs
Due: clippy, format

fix broken wildcard path from upgrade
  server/src/server.rs
Due: clippy, format

docs(design): add webapp-logged-in mood board + fix heading font in CLAUDE.md
  CLAUDE.md
  webapp-logged-in/design/moodboard-preview.jpeg
  webapp-logged-in/design/moodboard.html
Due: none

feat(webapp): add primary-hot + success design tokens
  .beads/issues.jsonl
  webapp-logged-in/src/global.css
Due: none

feat(webapp): migrate UI from MUI to shadcn + restyle
  pnpm-lock.yaml
  webapp-logged-in/index.html
  webapp-logged-in/package.json
  webapp-logged-in/src/components/AppProviders.tsx
  webapp-logged-in/src/components/LoginForm.tsx
  webapp-logged-in/src/components/league/LeagueHeader.tsx
  webapp-logged-in/src/components/league/LeagueMenu.tsx
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueRostersList.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/components/leagues/LeagueListItem.tsx
  webapp-logged-in/src/components/ui/avatar.tsx
  webapp-logged-in/src/components/ui/badge.tsx
  webapp-logged-in/src/components/ui/button.tsx
  webapp-logged-in/src/components/ui/card.tsx
  webapp-logged-in/src/components/ui/input.tsx
  webapp-logged-in/src/components/ui/label.tsx
  webapp-logged-in/src/components/ui/separator.tsx
  webapp-logged-in/src/components/ui/sheet.tsx
  webapp-logged-in/src/components/ui/sidebar.tsx
  webapp-logged-in/src/components/ui/skeleton.tsx
  webapp-logged-in/src/components/ui/tooltip.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/hooks/use-mobile.ts
  webapp-logged-in/src/main.tsx
  webapp-logged-in/src/routes/_auth/league.tsx
  webapp-logged-in/src/routes/_auth/leagues/create.tsx
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
  webapp-logged-in/src/routes/login.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

chore: update beads tracking notes
  .beads/issues.jsonl
Due: none

docs(design): mark primary-hot + success tokens as shipped in mood board
  webapp-logged-in/design/moodboard.html
Due: none

refactor(server): modernize FbklError error handling
  Cargo.lock
  server/Cargo.toml
  server/src/error.rs
Due: clippy, format

added beads tasks for cloud migration to aws + cloudflare + sentry
  .beads/issues.jsonl
Due: none

refactor(server): extract reusable builders + add lambdas crate
  .beads/interactions.jsonl
  .beads/issues.jsonl
  Cargo.lock
  Cargo.toml
  lambdas/Cargo.toml
  lambdas/src/lib.rs
  server/src/lib.rs
  server/src/main.rs
Due: clippy, format

feat(lambdas): add api, scheduler, and session-gc Lambda binaries
  .beads/issues.jsonl
  Cargo.lock
  lambdas/Cargo.toml
  lambdas/src/bin/api.rs
  lambdas/src/bin/scheduler.rs
  lambdas/src/bin/session_gc.rs
  server/src/lib.rs
Due: clippy, format

feat(infra): scaffold OpenTofu config + GitHub OIDC deploy role
  infra/.gitignore
  infra/.terraform.lock.hcl
  infra/README.md
  infra/bootstrap/.terraform.lock.hcl
  infra/bootstrap/main.tf
  infra/github_oidc.tf
  infra/providers.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: none

Path conditions:
  clippy: any of: *.rs
  format: any of: *.rs
  lint_webapp_logged_in: any of: webapp-logged-in/**/*.{js,jsx,ts,tsx}
  lint_webapp_public: any of: webapp-public/**/*.{js,jsx,ts,tsx}
  typecheck_webapp_logged_in: any of: webapp-logged-in/**/*.{js,jsx,ts,tsx}
  typecheck_webapp_public: any of: webapp-public/**/*.{js,jsx,ts,tsx}
