Repository kaibyao/fbkl-rust: changes, and which lefthook commands are due for each by the changed paths.
All: clippy, format, lint_webapp_logged_in, lint_webapp_public, typecheck_webapp_logged_in, typecheck_webapp_public

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    clippy:
      glob: '*.rs'
      run: cargo clippy && git add {staged_files}
    format:
      glob: '*.rs'
      run: cargo fmt && git add {staged_files}
    lint_webapp_logged_in:
      glob: 'webapp-logged-in/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-logged-in" lint --cache && git add {staged_files}'
    lint_webapp_public:
      glob: 'webapp-public/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-public" lint --cache && git add {staged_files}'
    typecheck_webapp_logged_in:
      glob: 'webapp-logged-in/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-logged-in" exec tsc && git add {staged_files}'
    typecheck_webapp_public:
      glob: 'webapp-public/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-public" exec tsc && git add {staged_files}'
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

added eslint-no-unused-imports
  .eslintrc.cjs
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

fixed mui imports
  package.json
  pnpm-lock.yaml
  webapp-logged-in/.eslintrc.cjs
  webapp-logged-in/package.json
  webapp-logged-in/src/NotFound.tsx
  webapp-logged-in/src/components/forms/CreateLeague/CreateLeagueForm.tsx
  webapp-logged-in/src/routes/app/LeagueList.tsx
  webapp-logged-in/src/routes/app/LeagueListItem.tsx
  webapp-logged-in/src/routes/app/UserLeaguesRoute.tsx
  webapp-logged-in/src/routes/league/LeagueMenu.tsx
  webapp-logged-in/src/routes/league/LeagueRoute.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

removing emotion for now
  pnpm-lock.yaml
  webapp-logged-in/package.json
  webapp-logged-in/src/App.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

started building roster
  server/src/server.rs
  webapp-logged-in/src/App.tsx
  webapp-logged-in/src/routes/league/LeagueHome.tsx
  webapp-logged-in/src/routes/league/LeagueRoute.tsx
  webapp-logged-in/src/routes/league/_components/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

nextjs migration, need to reimplement login
  .eslintrc.cjs
  .node-version
  lefthook.yml
  package.json
  pnpm-lock.yaml
  server/src/handlers.rs
  server/src/handlers/application_handlers.rs
  server/src/handlers/login_handlers.rs
  server/src/server.rs
  webapp-logged-in/.eslintrc.cjs
  webapp-logged-in/.gitignore
  webapp-logged-in/app/_components/AppProviders.tsx
  webapp-logged-in/app/_lib/api.ts
  webapp-logged-in/app/_lib/constants.ts
  webapp-logged-in/app/layout.tsx
  webapp-logged-in/app/login/_components/LoginForm.tsx
  webapp-logged-in/app/login/actions.ts
  webapp-logged-in/app/login/page.tsx
  webapp-logged-in/app/page.tsx
  webapp-logged-in/index.html
  webapp-logged-in/next-env.d.ts
  webapp-logged-in/next.config.js
  webapp-logged-in/package.json
  webapp-logged-in/src/AppRoutes.tsx
  webapp-logged-in/src/components/forms/CreateLeague/CreateLeagueForm.tsx
  webapp-logged-in/src/main.tsx
  webapp-logged-in/src/routes/app/LeagueList.tsx
  webapp-logged-in/src/routes/app/LeagueListItem.tsx
  webapp-logged-in/src/routes/app/UserLeaguesRoute.tsx
  webapp-logged-in/src/routes/league/LeagueHome.tsx
  webapp-logged-in/src/routes/league/LeagueRoute.tsx
  webapp-logged-in/src/routes/league/create/CreateLeagueRoute.tsx
  webapp-logged-in/src/vite-env.d.ts
  webapp-logged-in/tsconfig.json
  webapp-logged-in/tsconfig.node.json
  webapp-logged-in/vite.config.ts
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

migrated non-placeholder pages to nextjs. still need to migrate the rest.
  .vscode/launch.json
  pnpm-lock.yaml
  server/src/handlers.rs
  server/src/handlers/league_handlers.rs
  server/src/handlers/login_handlers.rs
  server/src/server.rs
  webapp-logged-in/app/(authenticated)/_components/UserContext.tsx
  webapp-logged-in/app/(authenticated)/actions.ts
  webapp-logged-in/app/(authenticated)/layout.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueHeader.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueMenu.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
  webapp-logged-in/app/(authenticated)/league/page.tsx
  webapp-logged-in/app/(authenticated)/leagues/_components/LeagueListItem.tsx
  webapp-logged-in/app/(authenticated)/leagues/create/page.tsx
  webapp-logged-in/app/(authenticated)/leagues/page.tsx
  webapp-logged-in/app/global.css
  webapp-logged-in/app/layout.tsx
  webapp-logged-in/app/page.tsx
  webapp-logged-in/next.config.js
  webapp-logged-in/package.json
  webapp-logged-in/src/App.tsx
  webapp-logged-in/src/AppRoutes.tsx
  webapp-logged-in/src/routes/app/LeagueList.tsx
  webapp-logged-in/src/routes/app/README.md
  webapp-logged-in/src/routes/app/UserLeaguesRoute.tsx
  webapp-logged-in/src/routes/league/LeagueRoute.tsx
  webapp-logged-in/src/routes/league/create/CreateLeagueRoute.tsx
  webapp-logged-in/tsconfig.json
  webapp-public/package.json
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

removed the rest of old config
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
  webapp-logged-in/app/(authenticated)/league/page.tsx
  webapp-logged-in/src/AppRoutes.tsx
  webapp-logged-in/src/NotFound.tsx
  webapp-logged-in/src/api/api-hook.ts
  webapp-logged-in/src/api/select-league.ts
  webapp-logged-in/src/components/forms/CreateLeague/CreateLeagueForm.tsx
  webapp-logged-in/src/favicon.svg
  webapp-logged-in/src/logo.svg
  webapp-logged-in/src/preload-polyfill.ts
  webapp-logged-in/src/routes/league/draft/LeagueDraftRoute.tsx
  webapp-logged-in/src/routes/league/draft/LeagueDraftYearRoute.tsx
  webapp-logged-in/src/routes/league/invite/LeagueInviteRoute.tsx
  webapp-logged-in/src/routes/league/player/LeaguePlayerRoute.tsx
  webapp-logged-in/src/routes/league/roster/LeagueTeamRoute.tsx
  webapp-logged-in/src/routes/league/trades/TradesRoute.tsx
  webapp-logged-in/src/routes/league/transactions/TransactionsRoute.tsx
  webapp-logged-in/src/routes/user/UserRoute.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

minor layout tweak
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

WIP adding rostered players to team graphql resolver
  entity/src/queries/mod.rs
  entity/src/queries/position_queries.rs
  server/src/graphql.rs
  server/src/graphql/player.rs
  server/src/graphql/player/player_types.rs
  server/src/graphql/team/team_types.rs
  server/src/main.rs
Due: clippy, format

added player position / team info to gql response for player, still need to add contract info, to eventually feed back to team response
  entity/src/queries/position_queries.rs
  entity/src/queries/real_team_queries.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/player/player_types.rs
Due: clippy, format

added contract type graphql definition... need to test out if team gql response includes contracts
  README.md
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/league_player.rs
  entity/src/queries/contract_queries.rs
  entity/src/queries/league_player_queries.rs
  entity/src/queries/player_queries.rs
  entity/src/queries/team_user_queries.rs
  logic/src/auction/fa_auction.rs
  logic/src/auction/preseason_veteran_auction.rs
  logic/src/trade/validate_trade_assets.rs
  migration/src/m20220924_004529_create_league_tables.rs
  server/src/graphql.rs
  server/src/graphql/contract.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/player/player_types.rs
  server/src/graphql/team.rs
  server/src/graphql/team/team_types.rs
  server/src/session.rs
Due: clippy, format

rename files, updated imported data
  .env.example
Due: none

better login
  server/src/handlers/login_handlers.rs
  server/src/server.rs
  webapp-logged-in/app/(authenticated)/layout.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueHeader.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

updated packages, replaced apollo client with urql
  .eslintrc.cjs
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  webapp-logged-in/.eslintrc.cjs
  webapp-logged-in/app/(authenticated)/layout.tsx
  webapp-logged-in/app/(authenticated)/league/_api/get-league.ts
  webapp-logged-in/app/(authenticated)/league/_components/LeagueHeader.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
  webapp-logged-in/app/(authenticated)/leagues/_components/LeagueListItem.tsx
  webapp-logged-in/app/(authenticated)/leagues/create/page.tsx
  webapp-logged-in/app/(authenticated)/leagues/page.tsx
  webapp-logged-in/app/_components/AppProviders.tsx
  webapp-logged-in/app/_lib/api.ts
  webapp-logged-in/eslint.config.js
  webapp-logged-in/graphql-codegen.ts
  webapp-logged-in/graphql-codegen.yml
  webapp-logged-in/next-env.d.ts
  webapp-logged-in/package.json
  webapp-logged-in/tsconfig.json
  webapp-public/graphql-codegen.yml
  webapp-public/package.json
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

updated eslint fully to v9
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  webapp-logged-in/package.json
  webapp-public/.eslintrc.cjs
  webapp-public/eslint.config.js
  webapp-public/package.json
Due: none

got basic roster team name + salary working.
  server/src/main.rs
  webapp-logged-in/app/(authenticated)/league/_api/get-league.ts
  webapp-logged-in/app/(authenticated)/league/_components/LeagueHeader.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

get team salary amounts and caps
  entity/src/queries/deadline_queries.rs
  server/Cargo.toml
  server/src/graphql/league/league_resolvers.rs
  server/src/graphql/league/league_types.rs
  server/src/graphql/team/team_types.rs
Due: clippy, format

showing player names lsit
  entity/src/entities/contract/contract_entity.rs
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
  webapp-logged-in/app/_lib/contract.utils.ts
  webapp-logged-in/graphql-codegen.ts
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

fleshed out players in roster
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRosterListPlayer.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

using unnaccent for euro players
  entity/src/queries/contract_queries.rs
  entity/src/queries/player_queries.rs
  migration/src/m20220916_131201_create_auto_updated_at_fn.rs
Due: clippy, format

updated w/ 2025 data. also added actual salary cap to rosters
  constants/src/date/all_star_break_dates.rs
  entity/src/entities/team_user.rs
  server/src/main.rs
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRosterListPlayer.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

Flesh out roster players (#2)
  constants/src/date/all_star_break_dates.rs
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/team_user.rs
  entity/src/queries/contract_queries.rs
  entity/src/queries/deadline_queries.rs
  entity/src/queries/player_queries.rs
  migration/src/m20220916_131201_create_auto_updated_at_fn.rs
  server/Cargo.toml
  server/src/graphql/league/league_resolvers.rs
  server/src/graphql/league/league_types.rs
  server/src/graphql/team/team_types.rs
  server/src/main.rs
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRosterListPlayer.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueRostersList.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
  webapp-logged-in/app/_lib/contract.utils.ts
  webapp-logged-in/graphql-codegen.ts
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

move some logic out of graphql resolver into logic/
  logic/src/roster/salary_calculation.rs
  server/src/graphql/team/team_types.rs
  server/src/main.rs
Due: clippy, format

added claude + serena config, added selected league's user team id
  .serena/project.yml
  CLAUDE.md
  entity/src/queries/team_user_queries.rs
  logic/src/lib.rs
  logic/src/team_ownership/mod.rs
  logic/src/team_ownership/team_user_access.rs
  server/src/handlers/login_handlers.rs
  server/src/main.rs
  webapp-logged-in/app/(authenticated)/actions.ts
  webapp-logged-in/app/(authenticated)/league/_components/LeagueMenu.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
  webapp-logged-in/app/(authenticated)/league/_components/UserDataProvider.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

added claude + serena config, added selected league's user team id (#3)
  .serena/project.yml
  CLAUDE.md
  entity/src/queries/team_user_queries.rs
  logic/src/lib.rs
  logic/src/team_ownership/mod.rs
  logic/src/team_ownership/team_user_access.rs
  server/src/handlers/login_handlers.rs
  server/src/main.rs
  webapp-logged-in/app/(authenticated)/actions.ts
  webapp-logged-in/app/(authenticated)/league/_components/LeagueMenu.tsx
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
  webapp-logged-in/app/(authenticated)/league/_components/UserDataProvider.tsx
  webapp-logged-in/app/(authenticated)/league/layout.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

added functionality for generating future draft picks at preseason final roster lock
  constants/src/league_rules/config_settings.rs
  entity/src/queries/draft_pick_queries.rs
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/draft_picks/future_draft_picks.rs
  logic/src/draft_picks/mod.rs
  logic/src/lib.rs
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

added functionality for generating future draft picks at preseason final roster lock (#4)
  constants/src/league_rules/config_settings.rs
  entity/src/queries/draft_pick_queries.rs
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/draft_picks/future_draft_picks.rs
  logic/src/draft_picks/mod.rs
  logic/src/lib.rs
  webapp-logged-in/app/(authenticated)/league/_components/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

Create dependabot.yml
  .github/dependabot.yml
Due: none

added dependabot config
  webapp-logged-in/.github/dependabot.yml
Due: none

updated notes files formatting. Added deadline configuration PRD
  .gitignore
  logic/src/deadline_config/mod.rs
  notes/2023-04-12-roster_updates.md
  notes/2023-04-15-keepers.md
  notes/2023-04-19-transaction_deadlines.md
  notes/2023-08-07-trade_actions.md
  notes/2023-08-13-draft_pick_options.md
  notes/2023-08-30-things_to_test.md
  notes/2025-06-30-deadline_configuration.md
Due: clippy, format

added deadline configuration PRD
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/project_purpose.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/memories/tech_stack.md
  notes/2025-06-30-deadline_configuration.md
Due: none

added deadline_config_rule table, deadline.status, and auction.deadline_id
  migration/src/lib.rs
  migration/src/m20221112_132607_create_auction_tables.rs
  migration/src/m20221117_235325_create_transaction.rs
  migration/src/m20250701_022848_create_deadline_config_rule_table.rs
  notes/2025-06-30-deadline_configuration.md
Due: clippy, format

Finished step 1.2 of prd
  entity/src/entities/deadline.rs
  entity/src/entities/deadline_config_rule.rs
  entity/src/entities/league.rs
  entity/src/entities/mod.rs
  migration/src/m20250701_022848_create_deadline_config_rule_table.rs
  notes/2025-06-30-deadline_configuration.md
Due: clippy, format

started scaffold for deadline config rules
  auth/Cargo.toml
  constants/Cargo.toml
  entity/Cargo.toml
  graphql-generation/Cargo.toml
  jobs/Cargo.toml
  logic/Cargo.toml
  migration/Cargo.toml
  migration/src/m20250701_022848_create_deadline_config_rule_table.rs
  notes/2025-06-30-deadline_configuration/2025-06-30-deadline_configuration.md
  notes/2025-06-30-deadline_configuration/prd-deadline-configuration.md
  notes/2025-06-30-deadline_configuration/tasks-prd-deadline-configuration.md
  rustfmt.toml
  server/Cargo.toml
  server/src/main.rs
  transaction-processor/Cargo.toml
Due: clippy, format

fixed import issue + clippy warning
  constants/src/lib.rs
  logic/src/deadline_config/generation.rs
  notes/2025-06-30-deadline_configuration/tasks-prd-deadline-configuration.md
Due: clippy, format

added graphql stuff
  server/src/graphql.rs
  server/src/graphql/deadline_config/mod.rs
  server/src/graphql/deadline_config/resolvers.rs
  server/src/graphql/deadline_config/types.rs
Due: clippy, format

processing logic + status transitions
  entity/src/queries/deadline_queries.rs
  logic/src/deadline_processing/mod.rs
  logic/src/deadline_processing/processor.rs
  notes/2025-06-30-deadline_configuration/tasks-prd-deadline-configuration.md
Due: clippy, format
