Repository kaibyao/fbkl-rust: changes, and which lefthook commands are due for each by the changed paths.
All: clippy, format, lint_webapp_logged_in, lint_webapp_public, typecheck_webapp_logged_in, typecheck_webapp_public

clippy:
  run: cargo clippy && git add {staged_files}

format:
  run: cargo fmt && git add {staged_files}

lint_webapp_logged_in:
  run: pnpm --filter "@fbkl/webapp-logged-in" lint --cache && git add {staged_files}

lint_webapp_public:
  run: pnpm --filter "@fbkl/webapp-public" lint --cache && git add {staged_files}

typecheck_webapp_logged_in:
  run: pnpm --filter "@fbkl/webapp-logged-in" exec tsc && git add {staged_files}

typecheck_webapp_public:
  run: pnpm --filter "@fbkl/webapp-public" exec tsc && git add {staged_files}

removed @mui
  pnpm-lock.yaml
  webapp-public/package.json
Due: none

refactor(errors): Phase 3 error architecture (AuthError, entity consistency)
  .beads/interactions.jsonl
  Cargo.lock
  auth/Cargo.toml
  auth/src/lib.rs
  entity/src/entities/auction_bid.rs
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/team_update.rs
  entity/src/entities/team_user.rs
  entity/src/entities/trade.rs
  entity/src/entities/trade_asset.rs
  entity/src/entities/transaction/transaction_entity.rs
  entity/src/queries/league_queries.rs
  entity/src/queries/user_queries.rs
  entity/src/queries/user_registration_queries.rs
  server/src/error.rs
  server/src/session.rs
Due: clippy, format

refactor(errors): Phase 3 error architecture (AuthError, entity consistency) (#79)
  .beads/interactions.jsonl
  Cargo.lock
  auth/Cargo.toml
  auth/src/lib.rs
  entity/src/entities/auction_bid.rs
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/team_update.rs
  entity/src/entities/team_user.rs
  entity/src/entities/trade.rs
  entity/src/entities/trade_asset.rs
  entity/src/entities/transaction/transaction_entity.rs
  entity/src/queries/league_queries.rs
  entity/src/queries/user_queries.rs
  entity/src/queries/user_registration_queries.rs
  server/src/error.rs
  server/src/session.rs
Due: clippy, format

refactor(types): Phase 4 clean illegal-state modeling (no schema)
  .beads/interactions.jsonl
  entity/src/entities/contract/free_agent_extension.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/team/team_types.rs
  transaction-processor/src/lib.rs
Due: clippy, format

refactor(types): Phase 4 clean illegal-state modeling (no schema) (#80)
  .beads/interactions.jsonl
  entity/src/entities/contract/free_agent_extension.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/team/team_types.rs
  transaction-processor/src/lib.rs
Due: clippy, format

different cache keys per CI job
  .github/workflows/ci.yml
Due: none

ci: add sccache for cross-job Rust compilation cache
  .github/workflows/ci.yml
Due: none

ci: add sccache for cross-job Rust compilation cache (#81)
  .github/workflows/ci.yml
Due: none

fix(contract): show UFA TBD salary as null in GraphQL, hide $1 sentinel
  .beads/interactions.jsonl
  entity/src/entities/contract/annual_contract_advancement.rs
  server/src/graphql/contract/contract_types.rs
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

fix(contract): show UFA TBD salary as null in GraphQL, hide $1 sentinel (#82)
  .beads/interactions.jsonl
  entity/src/entities/contract/annual_contract_advancement.rs
  server/src/graphql/contract/contract_types.rs
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
Due: clippy, format, lint_webapp_logged_in, typecheck_webapp_logged_in

updated beads + import-data
  .beads/interactions.jsonl
Due: none

refactor(entity): collapse transaction's 7 nullable FK columns
  .beads/interactions.jsonl
  entity/src/entities/auction.rs
  entity/src/entities/rookie_draft_selection.rs
  entity/src/entities/trade.rs
  entity/src/entities/transaction/auction_transaction.rs
  entity/src/entities/transaction/rookie_draft_selection_transaction.rs
  entity/src/entities/transaction/trade_transaction.rs
  entity/src/entities/transaction/transaction_entity.rs
  entity/src/queries/auction_queries.rs
  entity/src/queries/trade_queries.rs
  entity/src/queries/transaction_queries.rs
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/ir/activate_contract_from_ir.rs
  logic/src/ir/move_contract_to_ir.rs
  logic/src/rookie_development_activation/activate_rookie.rs
  logic/src/rookie_development_international/move_rd_contract_to_international.rs
  logic/src/rookie_development_international/move_rdi_contract_from_international.rs
  migration/src/lib.rs
  migration/src/m20260722_000001_collapse_transaction_fk_columns.rs
Due: clippy, format

refactor(entity): collapse transaction's 7 nullable FK columns (#83)
  .beads/interactions.jsonl
  entity/src/entities/auction.rs
  entity/src/entities/rookie_draft_selection.rs
  entity/src/entities/trade.rs
  entity/src/entities/transaction/auction_transaction.rs
  entity/src/entities/transaction/rookie_draft_selection_transaction.rs
  entity/src/entities/transaction/trade_transaction.rs
  entity/src/entities/transaction/transaction_entity.rs
  entity/src/queries/auction_queries.rs
  entity/src/queries/trade_queries.rs
  entity/src/queries/transaction_queries.rs
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/ir/activate_contract_from_ir.rs
  logic/src/ir/move_contract_to_ir.rs
  logic/src/rookie_development_activation/activate_rookie.rs
  logic/src/rookie_development_international/move_rd_contract_to_international.rs
  logic/src/rookie_development_international/move_rdi_contract_from_international.rs
  migration/src/lib.rs
  migration/src/m20260722_000001_collapse_transaction_fk_columns.rs
Due: clippy, format

refactor: phase 5 idiomatic-audit polish (entity/logic/server + submodule)
  constants/src/lib.rs
  entity/src/entities/contract/contract_entity.rs
  entity/src/entities/trade_asset.rs
  entity/src/queries/auction_queries.rs
  entity/src/queries/contract_queries.rs
  entity/src/queries/league_queries.rs
  entity/src/queries/team_update_queries/contract_update_player_data.rs
  entity/src/queries/team_update_queries/mod.rs
  entity/src/queries/trade_asset_queries.rs
  graphql-generation/src/main.rs
  lambdas/src/lib.rs
  logic/src/auction/sign_auction_contract_to_team.rs
  logic/src/deadline_processing/keeper_deadline/process_keeper_deadline.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  logic/src/draft_picks/future_draft_picks.rs
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/drop_contract/drop_contract_team_update.rs
  logic/src/ir/activate_contract_from_ir.rs
  logic/src/ir/ir_team_update.rs
  logic/src/ir/move_contract_to_ir.rs
  logic/src/rookie_development_activation/activate_rookie.rs
  logic/src/rookie_development_activation/rookie_activation_team_update.rs
  logic/src/rookie_development_international/rdi_team_update.rs
  logic/src/roster/salary_calculation.rs
  logic/src/trade/accept_trade.rs
  logic/src/trade/create_trade_team_update.rs
  logic/src/trade/propose_trade.rs
  logic/src/trade/validate_trade_assets.rs
  migration/src/m20220922_012310_create_real_world_tables.rs
  migration/src/m20220924_004529_create_league_tables.rs
  migration/src/m20221023_002183_create_contract.rs
  migration/src/m20221023_002184_create_draft_pick.rs
  migration/src/m20221023_002185_create_draft_pick_option.rs
  server/src/graphql/contract.rs
  server/src/graphql/league/league_resolvers.rs
  server/src/graphql/team.rs
  server/src/graphql/team/team_resolvers.rs
  server/src/graphql/team/team_types.rs
  server/src/lib.rs
Due: clippy, format

updated beads + import-data hash
  .beads/.gitignore
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitignore
Due: none

migrated tests to nextest
  .config/nextest.toml
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

removed redundant beads docs in our Agent doc files (probably not needed with claude 5 models)
  AGENTS.md
  CLAUDE.md
Due: none

feat(entity): add query fns the GraphQL API surface needs
  entity/src/queries/auction_queries.rs
  entity/src/queries/league_player_queries.rs
  entity/src/queries/mod.rs
  entity/src/queries/pagination.rs
  entity/src/queries/player_queries.rs
  entity/src/queries/team_queries.rs
  entity/src/queries/transaction_queries.rs
Due: clippy, format

feat(server): add league-role authz guard + coded GraphQL errors
  server/src/error.rs
  server/src/graphql.rs
  server/src/graphql/authz.rs
  server/src/graphql/error.rs
Due: clippy, format

feat(server): wire team query root
  entity/src/queries/team_update_queries/basic.rs
  server/src/graphql.rs
  server/src/graphql/team.rs
  server/src/graphql/team/team_resolvers.rs
  server/src/graphql/team/team_types.rs
Due: clippy, format

feat(server): wire player query root
  server/src/graphql.rs
  server/src/graphql/player.rs
  server/src/graphql/player/player_resolvers.rs
Due: clippy, format

feat(server): wire contract query root
  entity/src/queries/contract_queries.rs
  server/src/graphql.rs
  server/src/graphql/contract.rs
  server/src/graphql/contract/contract_resolvers.rs
Due: clippy, format

feat(server): wire read-only transaction audit feed
  server/src/graphql.rs
  server/src/graphql/transaction.rs
  server/src/graphql/transaction/transaction_resolvers.rs
  server/src/graphql/transaction/transaction_types.rs
Due: clippy, format

feat(server): wire trade query + mutation roots
  Cargo.lock
  entity/src/entities/trade_asset.rs
  entity/src/queries/trade_asset_queries.rs
  entity/src/queries/trade_queries.rs
  logic/src/trade/create_trade_team_update.rs
  logic/src/trade/mod.rs
  logic/src/trade/reject_trade.rs
  server/Cargo.toml
  server/src/graphql.rs
  server/src/graphql/error.rs
  server/src/graphql/trade.rs
  server/src/graphql/trade/trade_resolvers.rs
  server/src/graphql/trade/trade_types.rs
Due: clippy, format

feat(server): wire roster-ops mutation root
  server/src/graphql.rs
  server/src/graphql/roster.rs
  server/src/graphql/roster/roster_resolvers.rs
Due: clippy, format

feat(server): wire keeper declarations query + mutations
  entity/src/queries/transaction_queries.rs
  logic/src/deadline_processing/keeper_deadline/save_keeper_team_update.rs
  server/src/graphql.rs
  server/src/graphql/error.rs
  server/src/graphql/keeper.rs
  server/src/graphql/keeper/keeper_resolvers.rs
  server/src/graphql/team/team_types.rs
Due: clippy, format

feat(server): wire deadline calendar query + commissioner trigger
  Cargo.lock
  entity/src/queries/deadline_queries.rs
  server/Cargo.toml
  server/src/graphql.rs
  server/src/graphql/deadline.rs
  server/src/graphql/deadline/deadline_resolvers.rs
Due: clippy, format

feat(server): add read-only auction and draft query roots
  entity/src/queries/draft_pick_queries.rs
  entity/src/queries/rookie_draft_selection_queries.rs
  server/src/graphql.rs
  server/src/graphql/auction.rs
  server/src/graphql/auction/auction_resolvers.rs
  server/src/graphql/deadline/deadline_resolvers.rs
  server/src/graphql/draft.rs
  server/src/graphql/draft/draft_resolvers.rs
Due: clippy, format

perf(server): batch player/position/real-team lookups via DataLoaders
  Cargo.lock
  entity/src/queries/league_player_queries.rs
  entity/src/queries/player_queries.rs
  entity/src/queries/position_queries.rs
  entity/src/queries/real_team_queries.rs
  server/Cargo.toml
  server/src/graphql.rs
  server/src/graphql/contract/contract_types.rs
  server/src/graphql/loaders.rs
  server/src/graphql/player/player_types.rs
  server/src/lib.rs
Due: clippy, format

chore: untrack the stale beads backup.jsonl export
  .gitignore
  backup.jsonl
Due: none

feat(logic): add eligibility pool builders
  entity/src/queries/contract_queries.rs
  entity/src/queries/league_player_queries.rs
  entity/src/queries/player_queries.rs
  logic/CLAUDE.md
  logic/src/eligibility/mod.rs
  logic/src/eligibility/pools.rs
Due: clippy, format

feat(graphql): expose eligibility pools, fields, and commissioner overrides
  entity/src/queries/eligibility_queries.rs
  entity/src/queries/mod.rs
  server/src/graphql.rs
  server/src/graphql/auction/auction_resolvers.rs
  server/src/graphql/eligibility.rs
  server/src/graphql/eligibility/eligibility_resolvers.rs
  server/src/graphql/keeper/keeper_resolvers.rs
  server/src/graphql/player/player_resolvers.rs
  server/src/graphql/player/player_types.rs
  server/src/graphql/season.rs
Due: clippy, format

feat(logic): add pre-mutation guards to RD activation and RD/RDI moves
  logic/CLAUDE.md
  logic/src/rookie_development_activation/activate_rookie.rs
  logic/src/rookie_development_international/mod.rs
  logic/src/rookie_development_international/move_rd_contract_to_international.rs
  logic/src/rookie_development_international/move_rdi_contract_from_international.rs
Due: clippy, format

feat(import-data): populate NBA roster history on player import
  entity/src/queries/league_player_queries.rs
Due: clippy, format

feat(logic): add pure eligibility classifier
  logic/src/eligibility/classify.rs
  logic/src/eligibility/mod.rs
  logic/src/lib.rs
Due: clippy, format

feat(logic): add RDI eligibility validator
  logic/src/eligibility/mod.rs
  logic/src/eligibility/rdi.rs
Due: clippy, format

Path conditions:
  clippy: any of: *.rs
  format: any of: *.rs
  lint_webapp_logged_in: any of: webapp-logged-in/**/*.{js,jsx,ts,tsx}
  lint_webapp_public: any of: webapp-public/**/*.{js,jsx,ts,tsx}
  typecheck_webapp_logged_in: any of: webapp-logged-in/**/*.{js,jsx,ts,tsx}
  typecheck_webapp_public: any of: webapp-public/**/*.{js,jsx,ts,tsx}
