Repository kaibyao/fbkl-rust: changes, and which lefthook commands are due for each by the changed paths.
All: clippy, format, lint_webapp_logged_in, lint_webapp_public, typecheck_webapp_logged_in, typecheck_webapp_public

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    clippy:
      glob: '*.rs'
      run: cargo clippy && git add {staged_files}
    format:
      glob: '*.rs'
      run: cargo fmt && git add {staged_files}
    lint_webapp_logged_in:
      glob: 'webapp-logged-in/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-logged-in" lint --cache && git add {staged_files}'
    lint_webapp_public:
      glob: 'webapp-public/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-public" lint --cache && git add {staged_files}'
    typecheck_webapp_logged_in:
      glob: 'webapp-logged-in/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-logged-in" exec tsc && git add {staged_files}'
    typecheck_webapp_public:
      glob: 'webapp-public/**/*.{js,jsx,ts,tsx}'
      run: 'pnpm --filter "@fbkl/webapp-public" exec tsc && git add {staged_files}'
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

ignore async-graph Enum derive output unused await
  Cargo.toml
Due: none

feat(ir): in-season IR eligibility guard (fbkl-rust-7o8.1)
  entity/src/entities/contract/trade_contract.rs
  logic/src/ir/move_contract_to_ir.rs
Due: clippy, format

feat(roster): reject dropping a same-week add (fbkl-rust-7o8.2)
  entity/src/queries/team_update_queries/basic.rs
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/ir/move_contract_to_ir.rs
  server/src/graphql/team/team_types.rs
Due: clippy, format

fix(roster-lock): scope roster-lock failures per team (fbkl-rust-7o8.3)
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  transaction-processor/src/lib.rs
Due: clippy, format

feat(roster): teamWeek query and legalizeRoster mutation (fbkl-rust-7o8.4)
  Cargo.lock
  logic/Cargo.toml
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  server/src/graphql.rs
  server/src/graphql/error.rs
  server/src/graphql/roster.rs
  server/src/graphql/roster/roster_resolvers.rs
  server/src/graphql/roster/roster_types.rs
Due: clippy, format

test(roster): weekly-moves and roster-legalization DB tests (fbkl-rust-7o8.5)
  jobs/tests/weekly_moves_and_roster_legalization.rs
Due: clippy, format

feat(roster): weekly-move ordering (fbkl-rust-7o8.6)
  entity/src/entities/team_update.rs
  entity/src/queries/team_update_queries/basic.rs
  jobs/tests/weekly_moves_and_roster_legalization.rs
  logic/src/auction/sign_auction_contract_to_team.rs
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/trade/create_trade_team_update.rs
  migration/src/lib.rs
  migration/src/m20260827_000001_add_team_update_sequence.rs
  server/src/graphql/roster/roster_resolvers.rs
  server/src/graphql/roster/roster_types.rs
  server/src/graphql/team/team_types.rs
Due: clippy, format

some dev config updates
  .envrc
  .gitignore
  .wtp.yml
Due: none

another wtp update
  .wtp.yml
Due: none

fix(ir): reject direct-to-IR after an in-season add (fbkl-rust-7o8.7)
  jobs/tests/weekly_moves_and_roster_legalization.rs
  logic/src/ir/move_contract_to_ir.rs
Due: clippy, format

fix(drop): gate same-week-add drops on roster legality (fbkl-rust-7o8.9)
  jobs/tests/weekly_moves_and_roster_legalization.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  logic/src/drop_contract/drop_contract_from_team.rs
Due: clippy, format

feat(design): adopt moodboard direction, P0/P1 fixes
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/LoginForm.tsx
  webapp-logged-in/src/components/ui/sidebar.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/routes/_auth/leagues/create.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fix(roster): legalizeRoster takes the deadline it legalizes towards (fbkl-rust-7o8.8)
  server/src/graphql/roster/roster_resolvers.rs
  server/tests/legalize_roster_deadline.rs
Due: clippy, format

feat(design): typography to board scale + component mapping table
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/ui/typography.tsx
  webapp-logged-in/src/global.css
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fix(roster): structured roster-illegal payload, one-team validation (fbkl-rust-7o8.10)
  server/src/graphql/roster/roster_resolvers.rs
  server/src/graphql/roster/roster_types.rs
  server/tests/legalize_roster_deadline.rs
Due: clippy, format

feat(design): migrate component density to board scale
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/global.css
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

refactor(logic): drop async-graphql from the domain crate (fbkl-rust-7o8.11)
  Cargo.lock
  logic/Cargo.toml
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  server/src/graphql/roster/roster_types.rs
Due: clippy, format

fix(roster): scope reorderWeeklyMoves to one week (fbkl-rust-7o8.12)
  server/src/graphql/roster/roster_resolvers.rs
  server/tests/reorder_weekly_moves_week_scope.rs
Due: clippy, format

feat(design): states and error-recovery components + moodboard States section
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/AppProviders.tsx
  webapp-logged-in/src/components/LoginForm.tsx
  webapp-logged-in/src/components/leagues/LeagueListItem.tsx
  webapp-logged-in/src/components/ui/empty-state.tsx
  webapp-logged-in/src/components/ui/spinner.tsx
  webapp-logged-in/src/components/ui/toast.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/routes/_auth/leagues/create.tsx
  webapp-logged-in/src/routes/_auth/leagues/index.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

feat(design): contract/cap visual language
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/league/ContractChip.tsx
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/lib/contract.utils.ts
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

feat(design): three-tier help and documentation pattern
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/ui/explainer-note.tsx
  webapp-logged-in/src/components/ui/term-tip.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/lib/terms.ts
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fix(roster): only the upcoming roster lock is a legal deadline argument (fbkl-rust-7o8.18)
  entity/src/entities/deadline.rs
  server/src/graphql/roster/roster_resolvers.rs
  server/tests/legalize_roster_deadline.rs
Due: clippy, format

design(moodboard): add the charts and data viz spec section
  webapp-logged-in/design/moodboard.html
Due: none

fix(roster): single moves count towards the named upcoming lock (fbkl-rust-7o8.16)
  server/src/graphql/roster/roster_resolvers.rs
  server/tests/legalize_roster_deadline.rs
Due: clippy, format

feat(ui): add the board components the mapping table was missing
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/league/LeagueTeamRoster.tsx
  webapp-logged-in/src/components/ui/badge.tsx
  webapp-logged-in/src/components/ui/photo-treatment.tsx
  webapp-logged-in/src/components/ui/progress.tsx
  webapp-logged-in/src/components/ui/sparkline.tsx
  webapp-logged-in/src/global.css
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

fix(lambdas): move to Supabase session pooler and emit JSON logs
  infra/.terraform.lock.hcl
  infra/README.md
  infra/lambdas.tf
  infra/secrets.env.example
  infra/variables.tf
  lambdas/src/bin/api.rs
  lambdas/src/bin/scheduler.rs
  lambdas/src/bin/session_gc.rs
  lambdas/src/lib.rs
Due: clippy, format

fix(auction): file an in-season auction win under the upcoming lock (fbkl-rust-7o8.15)
  entity/src/queries/deadline_queries.rs
  jobs/tests/fa_auction_close_week.rs
  server/src/graphql/roster/roster_resolvers.rs
  transaction-processor/src/lib.rs
Due: clippy, format

design(moodboard): add the live auction section
  webapp-logged-in/design/moodboard.html
Due: none

fix(ir): the direct-to-IR ban ends with the add's own week (fbkl-rust-7o8.14)
  jobs/tests/weekly_moves_and_roster_legalization.rs
  logic/src/ir/move_contract_to_ir.rs
Due: clippy, format

test(roster): cover teamWeek for a team that owns nothing (fbkl-rust-7o8.17)
  server/tests/team_week_empty_roster.rs
Due: clippy, format

design(moodboard): add the league identity section
  webapp-logged-in/design/moodboard.html
Due: none

style(webapp): delete the unreachable light token palette
  webapp-logged-in/src/global.css
Due: none

design(moodboard): use local copies of the NBA reference photos
  webapp-logged-in/design/assets/nba/0GettyImages-2182344606-952x1176.jpg
  webapp-logged-in/design/assets/nba/0GettyImages-2220907031-941x1176.jpg
  webapp-logged-in/design/assets/nba/13_Photos-of-the-Year-1536x1024.jpg
  webapp-logged-in/design/assets/nba/77_Photos-of-the-Year-1536x1024.jpg
  webapp-logged-in/design/assets/nba/95_Photos-of-the-Year-1536x1024.jpg
  webapp-logged-in/design/assets/nba/GettyImages-2211632004-1536x1024.jpg
  webapp-logged-in/design/assets/nba/GettyImages-2219089020-1024x1536.jpg
  webapp-logged-in/design/assets/nba/GettyImages-2220888872-1024x1536.jpg
  webapp-logged-in/design/assets/nba/Kawhi_1920x1080.jpg
  webapp-logged-in/design/assets/nba/jokic3-2.jpg
  webapp-logged-in/design/assets/nba/wemby-vassell.jpg
  webapp-logged-in/design/moodboard.html
Due: none

refactor(roster): derive RosterRule::ALL and tidy the add predicates (fbkl-rust-7o8.20)
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/ir/move_contract_to_ir.rs
Due: clippy, format

fix(lambdas): move to Supabase session pooler and emit JSON logs (#134)
  infra/.terraform.lock.hcl
  infra/README.md
  infra/lambdas.tf
  infra/secrets.env.example
  infra/variables.tf
  lambdas/src/bin/api.rs
  lambdas/src/bin/scheduler.rs
  lambdas/src/bin/session_gc.rs
  lambdas/src/lib.rs
Due: clippy, format

more worktree dev config changes
  .gitignore
  .wtp.yml
Due: none

fix(roster): a refused roster move tells the owner which rule stopped it (fbkl-rust-7o8.21)
  logic/CLAUDE.md
  logic/src/drop_contract/drop_contract_from_team.rs
  logic/src/ir/activate_contract_from_ir.rs
  logic/src/ir/move_contract_to_ir.rs
  logic/src/rookie_development_activation/activate_rookie.rs
  logic/src/rookie_development_international/mod.rs
  logic/src/roster/mod.rs
  logic/src/roster/roster_move_rejection.rs
  server/src/graphql/error.rs
  server/src/graphql/roster/roster_resolvers.rs
  server/tests/roster_move_rule_rejection.rs
Due: clippy, format

fix(design): a11y fixes across the design direction
  webapp-logged-in/design/moodboard-preview.jpeg
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/league/ContractChip.tsx
  webapp-logged-in/src/components/league/LeagueRosterListPlayer.tsx
  webapp-logged-in/src/components/ui/photo-treatment.tsx
  webapp-logged-in/src/global.css
  webapp-logged-in/src/lib/terms.ts
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

feat(webapp): add the League rules page at /league/rules
  webapp-logged-in/design/moodboard.html
  webapp-logged-in/src/components/league/LeagueMenu.tsx
  webapp-logged-in/src/components/league/LeagueRostersList.tsx
  webapp-logged-in/src/components/league/LeagueRules.tsx
  webapp-logged-in/src/lib/league-rules.ts
  webapp-logged-in/src/lib/terms.ts
  webapp-logged-in/src/routes/_auth/league/rules.tsx
Due: lint_webapp_logged_in, typecheck_webapp_logged_in

feat(roster): record roster-lock failures for the commissioner to read (fbkl-rust-7o8.13)
  entity/src/entities/mod.rs
  entity/src/entities/roster_lock_violation.rs
  entity/src/queries/mod.rs
  entity/src/queries/roster_lock_violation_queries.rs
  jobs/tests/weekly_moves_and_roster_legalization.rs
  logic/src/deadline_processing/roster_lock/lock_rosters.rs
  logic/src/deadline_processing/roster_lock/validate_rosters.rs
  migration/src/lib.rs
  migration/src/m20260827_000002_create_roster_lock_violation.rs
  server/src/graphql/roster/roster_resolvers.rs
  server/src/graphql/roster/roster_types.rs
  server/tests/roster_lock_violations_query.rs
  transaction-processor/src/lib.rs
Due: clippy, format
